.body-section {
  padding: 4rem;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
}
.cart__counter{
  position: absolute;
  top: 44px;
  right: 785px;
  border-radius: 450%;
  line-height: 30px;
  color: #fff;
  font-size: 1.05rem;
  animation: bounceIn 700ms;
  background: #f08804;
}
