.body-section {
  padding: 4rem;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
}
.cart__counter{
  position: absolute;
  top: 44px;
  right: 771px;
  border-radius: 50%;
  line-height: 26px;
  color: #fff;
  font-size: 1.05rem;
  background: #f08804;
}
